# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
terraform-provider-aws_v4.67.0_x5
devops_user.pem
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pem

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
